/*para invocar um id  no HTML dentro do css colocamos # antes do nomes do ID, como no exemplo abaixo em que selecionamos apenas o paragrafo que ter o id #assinatura */
#assinatura {
           background-color: brown;
}

p{
    background-color: blue;
    color:blue
}
#rosa{
    background-color: antiquewhite;
}
#roxo{
    background-color: blueviolet;
}
#branco{
    color: blue;
}